input
{
    
    color: rgb(43, 226, 153);
}
h6{
    color: orange;
    font-size: 40px;
    font-weight:10;
}
#footerpara{
    color: rgba(21, 4, 126, 0.861);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey;
    background-position: 500px;
}
p{
            background-color: aqua ;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

.head{
    color: darkred;
    font-size: x-large;
}
